input[type=radio].o2-radio-buttonset {
	display: none;
}

input[type=radio]:checked.o2-radio-buttonset + label {
	background: #eee;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
	box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
	-webkit-transform: translateY(1px);
	-ms-transform: translateY(1px);
	transform: translateY(1px);
}

.customize-control-o2-radio-buttonset .button-group {
	white-space: normal;
}